* {
    margin: 0;
    padding: 0;
}

body {
    background: #110d2b;
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.main {
    background: #1f1948;
    margin-top: 100px;
    width: 900px;
    display: flex;
    border-radius: 10px;
    padding-bottom: 0;
}

.photo {
    width: 450px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 77px;
    margin-top: 2px;
}

.description-side {
    padding: 30px;
    width: 400px;
}
.pic-side {
    width: 450px;
    padding: 0;
    margin-left: auto;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: url(images/image-header-desktop.jpg);
}
.title {
    text-align: left;
    justify-content: center;
    padding-left: 30px;
    margin-bottom: 30px;
    font-size: 15px;
}
span {
    color: rgba(175, 10, 197, 0.861);
}

.para {
    text-align: left;
    justify-content: center;
    margin-bottom: 40px;
    padding-left: 30px;
    font-size: 15px;
    color: rgb(196, 196, 196);
}
.noti {
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-top: 80px;
}

.comp {
    text-align: left;
}
.temp {
    text-align: left;
}
.que {
    text-align: left;
}

.no {
    font-weight: bold;
}

.p1 {
    color: rgb(196, 196, 196);
    font-size: 12px;
}
